* {
  margin: 0;
}

body {
  background-color: white;
}

.wrapper_portfolio {
  max-width: 980px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.user {
  display: flex;
  justify-content: center;
}

.user_photo {
  width: 125px;
  height: 125px;
  display: flex;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo_image {
  width: 110px;
  height: auto;
  border-radius: 100%;
  border: 3px solid black;
}

.user_info {
  display: flex;
  margin: 20px;
  margin-right: 10px;
  flex-direction: column;
  width: 250px;
}

.user_name {
  margin-bottom: 10px;
}

.user_name h1 {
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
}

.user_github {
  font-size: 22px;
  font-family: 'Times New Roman', Times, serif;
} 

.user_github a {
  text-decoration: none;
  color: black;
}

.user_github a p {
  font-size: 22px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

.education {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.education .user_education {
  display: flex;
  padding-left: 13px;
}

.education .user_education p {
  width: 300px;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
}

.education .education_list {
  display: flex;
}

.education .education_list ul {
  display: flex;
  flex-direction: column;
  padding-left: 0px;
}

.education ul li {
  list-style-type: none; 
}

.education ul li p {
  font-size: 22px;
  font-family: 'Times New Roman', Times, serif;
}

.projects_box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 25px;
  margin: 10px auto;
  width: 330px;
}

.projects_box p {
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;}

.wrapper_swiper {
  display: flex;
}

.carousel {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.items-container {
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.item {
  display: none;
  position: relative;
  animation: 0.5s ease-in-out;
  margin: 0 auto;
}

.active,
.next {
  display: block;
}

.next {
  position: absolute;
  top: 0;
  width: 100%;
}

.description {
  margin: 30px 20%;
  font-size: 32px;
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
}

.description a {
  margin-bottom: -8px;
}

.project-name {
  padding: 10px;
}

.project-name .name p {
  font-size: 30px;
  font-weight: bold;
}

.project-name .project_list ul li p {
  padding: 0;
  font-size: 25px;
  text-align: left;
  justify-content: center;
}

.control {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 15%;
  cursor: pointer;
}

.control.left {
  left: 0;
  right: auto;
}

.control.right {
  right: 0;
  left: auto;
}

.arrow {
  align-items: center;
  justify-content: center;
  display: inline-block;
  position: absolute;
  top: 95%;
  transform: translateY(-100%);
  font-size: 84px;
}

.arrow.right {
  right: 100%;
}

.arrow.left {
  left: 100%;
}

.to-left {
  animation-name: left;
}

.from-right {
  animation-name: right;
}

.to-right {
  animation-name: right;
  animation-direction: reverse;
}

.from-left {
  animation-name: left;
  animation-direction: reverse;
}

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

@media (max-width: 960px) {
  .description {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 640px) {
  .control > .arrow {
    display: none;
  }

  .project-name {
    display: none;
  }

  .description {
    border: 0;
  }
}

.education{
  max-width: 330px;
  margin: auto;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

details {
  background:#fff;
  font-size: 16px;
  box-shadow: 0 0 2px rgba(0,0,0,0.12),0 2px 4px rgba(0,0,0,0.24);
  display: flex; 
  width: 330px;
}

details div.content {
  padding: 0px 24px 24px 24px;
}

details[open] summary:after {
  color: #9e9e9e;
  font-family: 'Material Icons';
}
details[open] {
  margin-top: 16px;
  margin-bottom: 16px;
  border: none;
  border-radius: 2px;
}

details[open]:first-child {
  margin-top: 0;
  margin-bottom: 16px;
  border: none;
}

details[open]:last-child {
  margin-top: -3px;
  margin-bottom: 0px;
  border: none;
}

summary {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  outline: none;
  cursor: pointer;
  padding: 16px 24px;
  color: #212121;
  position: relative;
  font-size: 15px;
}

summary:hover{
  background:#eeeeee;
}

summary::-webkit-details-marker {
  display: none;
}

summary::after {
  font-family: 'Material Icons';
  color: #9e9e9e;
  font-size: 1.5em;
  padding: 0;
  text-align: center;
  margin-top: 0;
  position: absolute;
  top: calc(50% - 12px);
  bottom: 0;
  right: 0;
  width: 6%;
}